@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar {
    @apply text-black px-2 transition-all transform duration-150 ease-out hover:text-primary cursor-pointer;
  }

  .form-row {
    @apply flex flex-col gap-1 w-full py-2;
  }

  .form-input {
    @apply border border-gray-400 w-full px-2 py-1 rounded-sm;
  }

  .form-label {
    @apply font-semibold;
  }

  .option {
    @apply flex flex-col;
  }

  .custom-dropdown {
    @apply py-2 px-2 border border-gray-300 rounded-sm flex items-center bg-white my-1;
  }

  .dropdown {
    @apply outline-none flex-1;
  }

  .btn {
    @apply px-4 py-2 mb-1 rounded-sm;
  }

  .btn-success {
    @apply bg-blue-500 text-white;
  }

  .btn-default {
    @apply bg-gray-400 text-white;
  }

  .btn-block {
    @apply w-full;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

select {
  appearance: none;
}

.description-list ol {
  list-style: decimal !important;
  padding: 0 20px;
}

.description-list ul {
  list-style: disc !important;
  padding: 0 20px;
}
